/* gets activated when button clicked */

:root {
    --white: white;
    --black: black;
}

.dark-mode {
    color: var(--white);
    background-color: var(--black);

}

.light-mode {
    color: var(--black);
    background-color: var(--white);
}

