/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: #1b6ec2;
    border-color: black;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}



.badge {
    background-color: rgba(189, 116, 24, 0.6);
    color: white;
}

.text-warning {
    color: #BD7418 !important;
}

.text-secondary {
    color: #425F4B !important;
}

.text-primary {
    color: #192E2F !important;
}

.text-success {
    color: #4b7147 !important;
}

.bg-primary {
    background-color: black !important;
}

.bg-secondary {
    background-color: #828889 !important;
}

bg-success {
    background-color: #4b7147 !important;
}



.card {
    border-color: black !important;
}



/* btn-outline-primary */



.btn-outline-primary {
    color: #192E2F;
    border-color: #192E2F;
}



    .btn-outline-primary:hover {
        color: #fff;
        background-color: #192E2F;
        border-color: #192E2F;
    }



    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-primary,
    .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
        color: #fff;
        background-color: #192E2F;
        border-color: #192E2F;
    }



        .btn-check:checked + .btn-outline-primary:focus,
        .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-primary:disabled, .btn-outline-primary.disabled {
        color: #192E2F;
        background-color: transparent;
    }


.btn-outline-warning {
    color: #C07b24;
    border-color: #C07b24;
}



    .btn-outline-warning:hover {
        color: #fff;
        background-color: #C07b24;
        border-color: #C07b24;
    }



    .btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-warning,
    .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
        color: #fff;
        background-color: #C07b24;
        border-color: #C07b24;
    }



        .btn-check:checked + .btn-outline-warning:focus,
        .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-warning:disabled, .btn-outline-warning.disabled {
        color: #C07b24;
        background-color: transparent;
    }



.btn-outline-secondary {
    color: #134b5f;
    border-color: #134b5f;
}



    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #134b5f;
        border-color: #134b5f;
    }



    .btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-secondary,
    .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
        color: #fff;
        background-color: #134b5f;
        border-color: #134b5f;
    }



        .btn-check:checked + .btn-outline-secondary:focus,
        .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
        color: #134b5f;
        background-color: transparent;
    }




/* btn-primary */



.btn-primary {
    color: #fff;
    /*background-color: #192E2F;*/
    border-color: #192E2F;
}



    .btn-primary:hover {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
    }



    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-primary,
    .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
    }



        .btn-check:checked + .btn-primary:focus,
        .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-primary:disabled, .btn-primary.disabled {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
    }


.btn-danger {
    color: #fff;
    background-color: #CA1929;
    border-color: #CA1929;
}



    .btn-danger:hover {
        color: #fff;
        background-color: #b84743;
        border-color: #ae423f;
    }



    .btn-check:focus + .btn-danger, .btn-danger:focus {
        color: #fff;
        background-color: #d9534f;
        ;
        border-color: #d9534f;
        ;
        box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
    }



    .btn-check:checked + .btn-danger,
    .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active,
    .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #b84743;
        border-color: #b84743;
    }



        .btn-check:checked + .btn-danger:focus,
        .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus,
        .show > .btn-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
        }



    .btn-danger:disabled, .btn-danger.disabled {
        color: #fff;
        background-color: #b84743;
        border-color: #b84743;
    }





.btn-secondary {
    color: #fff;
    /*background-color: #134b5f;*/
    border-color: #134b5f;
}



    .btn-secondary:hover {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }



    .btn-check:focus + .btn-secondary, .btn-secondary:focus {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-secondary,
    .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active,
    .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }



        .btn-check:checked + .btn-secondary:focus,
        .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-secondary:disabled, .btn-secondary.disabled {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }




.btn-warning {
    color: #fff;
    background-color: #BD7418;
    border-color: #BD7418;
}



    .btn-warning:hover {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }



    .btn-check:focus + .btn-warning, .btn-warning:focus {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-warning,
    .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active,
    .show > .btn-warning.dropdown-toggle {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }



        .btn-check:checked + .btn-warning:focus,
        .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus,
        .show > .btn-warning.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-warning:disabled, .btn-warning.disabled {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }





.btn-outline-success {
    color: #4b7147;
    border-color: #4b7147;
}



    .btn-outline-success:hover {
        color: #fff;
        background-color: #4b7147;
        border-color: #4b7147;
    }



    .btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-success,
    .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
        color: #fff;
        background-color: #4b7147;
        border-color: #4b7147;
    }



        .btn-check:checked + .btn-outline-success:focus,
        .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-success:disabled, .btn-outline-success.disabled {
        color: #4b7147;
        background-color: transparent;
    }




/* btn-primary */



.btn-success {
    color: #fff;
    background-color: #4b7147;
    border-color: #4b7147;
}



    .btn-success:hover {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }



    .btn-check:focus + .btn-success, .btn-success:focus {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-success,
    .btn-check:active + .btn-success, .btn-success:active, .btn-success.active,
    .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }



        .btn-check:checked + .btn-success:focus,
        .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus,
        .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-success:disabled, .btn-success.disabled {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }

:root,
[data-bs-theme=light] {
    --bs-blue: #007bff;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #d9534f;
    --bs-orange: #fd7e14;
    --bs-yellow: #f0ad4e;
    --bs-green: #4bbf73;
    --bs-teal: #20c997;
    --bs-cyan: #1f9bcf;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #919aa1;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #f7f7f9;
    --bs-gray-300: #eceeef;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #919aa1;
    --bs-gray-700: #55595c;
    --bs-gray-800: #343a40;
    --bs-gray-900: #1a1a1a;
    --bs-primary: #1a1a1a;
    --bs-secondary: #fff;
    --bs-success: #4bbf73;
    --bs-info: #1f9bcf;
    --bs-warning: #f0ad4e;
    --bs-danger: #d9534f;
    --bs-light: #fff;
    --bs-dark: #343a40;
    --bs-primary-rgb: 26, 26, 26;
    --bs-secondary-rgb: 255, 255, 255;
    --bs-success-rgb: 75, 191, 115;
    --bs-info-rgb: 31, 155, 207;
    --bs-warning-rgb: 240, 173, 78;
    --bs-danger-rgb: 217, 83, 79;
    --bs-light-rgb: 255, 255, 255;
    --bs-dark-rgb: 52, 58, 64;
    --bs-primary-text-emphasis: #0a0a0a;
    --bs-secondary-text-emphasis: #666666;
    --bs-success-text-emphasis: #1e4c2e;
    --bs-info-text-emphasis: #0c3e53;
    --bs-warning-text-emphasis: #60451f;
    --bs-danger-text-emphasis: #572120;
    --bs-light-text-emphasis: #55595c;
    --bs-dark-text-emphasis: #55595c;
    --bs-primary-bg-subtle: #d1d1d1;
    --bs-secondary-bg-subtle: white;
    --bs-success-bg-subtle: #dbf2e3;
    --bs-info-bg-subtle: #d2ebf5;
    --bs-warning-bg-subtle: #fcefdc;
    --bs-danger-bg-subtle: #f7dddc;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #a3a3a3;
    --bs-secondary-border-subtle: white;
    --bs-success-border-subtle: #b7e5c7;
    --bs-info-border-subtle: #a5d7ec;
    --bs-warning-border-subtle: #f9deb8;
    --bs-danger-border-subtle: #f0bab9;
    --bs-light-border-subtle: #f7f7f9;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #55595c;
    --bs-body-color-rgb: 85, 89, 92;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(85, 89, 92, 0.75);
    --bs-secondary-color-rgb: 85, 89, 92;
    --bs-secondary-bg: #f7f7f9;
    --bs-secondary-bg-rgb: 247, 247, 249;
    --bs-tertiary-color: rgba(85, 89, 92, 0.5);
    --bs-tertiary-color-rgb: 85, 89, 92;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: #1a1a1a;
    --bs-link-color: #1a1a1a;
    --bs-link-color-rgb: 26, 26, 26;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #151515;
    --bs-link-hover-color-rgb: 21, 21, 21;
    --bs-code-color: #e83e8c;
    --bs-highlight-bg: #fcefdc;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #eceeef;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(26, 26, 26, 0.25);
    --bs-form-valid-color: #4bbf73;
    --bs-form-valid-border-color: #4bbf73;
    --bs-form-invalid-color: #d9534f;
    --bs-form-invalid-border-color: #d9534f;
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #adb5bd;
    --bs-body-color-rgb: 173, 181, 189;
    --bs-body-bg: #1a1a1a;
    --bs-body-bg-rgb: 26, 26, 26;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(173, 181, 189, 0.75);
    --bs-secondary-color-rgb: 173, 181, 189;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(173, 181, 189, 0.5);
    --bs-tertiary-color-rgb: 173, 181, 189;
    --bs-tertiary-bg: #272a2d;
    --bs-tertiary-bg-rgb: 39, 42, 45;
    --bs-primary-text-emphasis: #767676;
    --bs-secondary-text-emphasis: white;
    --bs-success-text-emphasis: #93d9ab;
    --bs-info-text-emphasis: #79c3e2;
    --bs-warning-text-emphasis: #f6ce95;
    --bs-danger-text-emphasis: #e89895;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #eceeef;
    --bs-primary-bg-subtle: #050505;
    --bs-secondary-bg-subtle: #333333;
    --bs-success-bg-subtle: #0f2617;
    --bs-info-bg-subtle: #061f29;
    --bs-warning-bg-subtle: #302310;
    --bs-danger-bg-subtle: #2b1110;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #101010;
    --bs-secondary-border-subtle: #999999;
    --bs-success-border-subtle: #2d7345;
    --bs-info-border-subtle: #135d7c;
    --bs-warning-border-subtle: #90682f;
    --bs-danger-border-subtle: #82322f;
    --bs-light-border-subtle: #55595c;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #767676;
    --bs-link-hover-color: #919191;
    --bs-link-color-rgb: 118, 118, 118;
    --bs-link-hover-color-rgb: 145, 145, 145;
    --bs-code-color: #f18bba;
    --bs-border-color: #55595c;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #93d9ab;
    --bs-form-valid-border-color: #93d9ab;
    --bs-form-invalid-color: #e89895;
    --bs-form-invalid-border-color: #e89895;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

