@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Photo";
    ViewData["ActivePage"] = ManageNavPages.Photo;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>This page allows you to download or delete that photo.</p>
        <p>
            <strong></strong>
        </p>
        <div class="form-floating mb-3">
            <input type="file" id="photo-add" type="submit" asp-page-handler="AddPhotoToProfile" class="btn btn-link">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
